<div class="row row-cols-1 row-cols-sm-2">
  <div *ngFor="let itemDetails of (items | async)" class="col my-2">
    <div class="card border-secondary h-100">
      <div class="card-body p-3">
        <h5 class="card-title">{{itemDetails.name}}
          <div class="float-right">
            <i class="pointer fa fa-pencil-square-o px-3" aria-hidden="true" (click)="edit(itemDetails)"></i>
            <i class="pointer fa fa-trash" aria-hidden="true" (click)="delete(itemDetails.idx)"></i>
          </div>
          <img class="comboImg" *ngIf="itemDetails.combo === 'Primer'" src="assets/primer.png">
          <img class="comboImg" *ngIf="itemDetails.combo === 'Detonator'" src="assets/detonator.png">
        </h5>
        <div class="row row-cols-2">
          <div class="col inscText" *ngFor="let i of itemDetails.inscs">
            <img src="{{i.png}}" /> {{ i.value }}% {{ i.type }} {{ i.stat === '(blank)' ? '' : i.stat }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
