<div class="modal-header border-secondary">
  <h3 class="modal-title">{{mode}} {{ typeLongName }}</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <input class="form-control" type="text" [ngbTypeahead]="searchItem" [inputFormatter]="formatter"
        [resultFormatter]="formatter" placeholder="Select Item" [(ngModel)]="itemModel"/>
    </div>
  </div>
  <div *ngFor="let i of inscRange" class="row justify-content-center">
    <div class="col-12 col-md-9">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text val-css" (click)="toggleScope(i)"><img src="{{scopes[i].img}}" /></span>
        </div>
        <input name="{{'val' + i}}" class="form-control" [(ngModel)]="inscVals[i]" type="number" placeholder="Value">
        <div class="input-group-append">
          <input name="{{'insc' + i}}" class="form-control" type="text" [ngbTypeahead]="searchInscs" [inputFormatter]="formatter"
            [resultFormatter]="formatter" [(ngModel)]="inscModel[i]" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer border-secondary">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-primary" (click)="addItem()">Submit</button>
</div>
